4-Labeled English speech data/audio_transcript/*
4-Labeled English speech data/sample
.ipynb_checkpoints
1-edit distance/.DS_Store
.DS_Store
1-edit distance/c/main
Youtube Caption Process.txt
*.mp3
CIFG LSTM/Untitled.ipynb
